---
import Index from "./index.svelte";
import BaseHead from "../components/BaseHead.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
	<BaseHead title="Homepage @ Nat3z" description="Homepage for nat3z.github.io" />
</head>
<body>
	
	<Index></Index>
</body>
</html>
